body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1336px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1336px;
  height:795px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1336px;
  height:795px;
}
#u1 {
  position:absolute;
  left:2px;
  top:390px;
  width:1332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1336px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1336px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:1332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5 {
  position:absolute;
  left:184px;
  top:220px;
  width:973px;
  height:158px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#32608A;
  text-align:center;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u8 {
  position:absolute;
  left:117px;
  top:0px;
  width:72px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#32608A;
  text-align:center;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:30px;
}
#u10 {
  position:absolute;
  left:189px;
  top:0px;
  width:658px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#32608A;
  text-align:center;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:654px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u12 {
  position:absolute;
  left:847px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#32608A;
  text-align:center;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:61px;
}
#u14 {
  position:absolute;
  left:0px;
  top:30px;
  width:117px;
  height:61px;
  color:#32608A;
  text-align:center;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:113px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:61px;
}
#u16 {
  position:absolute;
  left:117px;
  top:30px;
  width:72px;
  height:61px;
  color:#32608A;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:68px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:61px;
}
#u18 {
  position:absolute;
  left:189px;
  top:30px;
  width:658px;
  height:61px;
  color:#32608A;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:654px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u20 {
  position:absolute;
  left:847px;
  top:30px;
  width:121px;
  height:61px;
  color:#32608A;
  text-align:center;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:117px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:62px;
}
#u22 {
  position:absolute;
  left:0px;
  top:91px;
  width:117px;
  height:62px;
  color:#32608A;
  text-align:center;
}
#u23 {
  position:absolute;
  left:2px;
  top:23px;
  width:113px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:62px;
}
#u24 {
  position:absolute;
  left:117px;
  top:91px;
  width:72px;
  height:62px;
  color:#32608A;
}
#u25 {
  position:absolute;
  left:2px;
  top:23px;
  width:68px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:62px;
}
#u26 {
  position:absolute;
  left:189px;
  top:91px;
  width:658px;
  height:62px;
  color:#32608A;
}
#u27 {
  position:absolute;
  left:2px;
  top:23px;
  width:654px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:62px;
}
#u28 {
  position:absolute;
  left:847px;
  top:91px;
  width:121px;
  height:62px;
  color:#32608A;
  text-align:center;
}
#u29 {
  position:absolute;
  left:2px;
  top:23px;
  width:117px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(50, 96, 138, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:184px;
  top:78px;
  width:968px;
  height:132px;
}
#u31 {
  position:absolute;
  left:2px;
  top:58px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#32608A;
}
#u32 {
  position:absolute;
  left:217px;
  top:87px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#32608A;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#32608A;
}
#u34 {
  position:absolute;
  left:217px;
  top:117px;
  width:533px;
  height:16px;
  color:#32608A;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  white-space:nowrap;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#32608A;
}
#u36 {
  position:absolute;
  left:25px;
  top:9px;
  width:231px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#32608A;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#32608A;
}
#u39 {
  position:absolute;
  left:25px;
  top:37px;
  width:127px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#32608A;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  visibility:hidden;
  white-space:nowrap;
}
