body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1278px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1308px;
  height:1498px;
}
#u43 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:1308px;
  height:1498px;
}
#u44 {
  position:absolute;
  left:2px;
  top:741px;
  width:1304px;
  visibility:hidden;
  word-wrap:break-word;
}
