body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:1594px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:1594px;
}
#u42 {
  position:absolute;
  left:2px;
  top:789px;
  width:1437px;
  visibility:hidden;
  word-wrap:break-word;
}
